<component name="libraryTable">
  <library name="spring-context-indexer-5.1.4.RELEASE-sources">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/bollicineWeb/src/main/webapp/WEB-INF/lib/spring-context-indexer-5.1.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>